@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  transition: all 0.3s;
}

main {
  max-width: 56rem;

  margin: auto;
  padding: 6rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

h1 {
  font-size: 1.875rem; 
  line-height: 1.2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.4rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 50;
  transition: inherit;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.25rem;
  color: white;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  transition: inherit;
}

nav {
  display: flex;
  gap: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  header {
    background-color: black;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }

  footer {
    background-color: white;
    color: black;
  }
}