@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.875rem;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  transition: background-color 0.3s, color 0.3s;
}

@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 601px) {
  .mobile-only {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: white;
    color: black;
  }
}