.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 56rem;
  margin: 0 auto;
  padding: 16px;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s;
}

.nav {
  display: flex;
  gap: 16px;
}

.link {
  transition: color 0.2s;
}

.link:hover {
  color: gray;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: #121212;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  }

  .h1 {
    color: white;
  }

  .link {
    color: white;
  }

  .link:hover {
    color: lightgray;
  }
}