.bar {
  animation: drop-bar 1s forwards;
}

.lRect {
  animation: expand-l-rect 2s forwards;
}

.rRect {
  animation: expand-r-rect 2s forwards;
}

.lRect::after, .rRect::after {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;

  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.lRect::after {
  border-right: 20px solid black;
  right: 100%;
}

.rRect::after {
  border-left: 20px solid black;
  left: 100%;
}

.container {
  animation: show-contents 1s forwards;
  animation-delay: 1s;
}

.title {
  animation: show-arrow-contents 1s forwards;
  animation-delay: 2s;
}

@media (prefers-color-scheme: dark) {
  .lRect::after {
    border-right: 20px solid white;
  }

  .rRect::after {
    border-left: 20px solid white;
  }
}

@keyframes drop-bar {
  0% { bottom: 100%; }
  100% { bottom: 75%; }
}

@keyframes expand-l-rect {
  0%, 50% { width: 0%; opacity: 0; }
  100% { width: 40%; opacity: 1; }
}

@keyframes expand-r-rect {
  0%, 50% { width: 0%; opacity: 0; }
  100% { width: 40%; opacity: 1; }
}

@keyframes show-contents {
  0% { transform: translateY(2rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes show-arrow-contents {
  0% { transform: translateY(0.5rem) translateX(-50%); opacity: 0; }
  100% { transform: translateY(0) translateX(-50%); opacity: 1; }
}